*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --bgc-player: #282828;
    --bgc-content: #141922;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* first */

.wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
}

main{
    width: 100%;
    height: calc(100% - 80px);
}

.player{
    width: 100%;
    height: 80px;
    background-color: var(--bgc-player);
}

/* flex */

.d-flex{
    display: flex;
}

.js{
    justify-content: flex-end;
}

.align{
    align-items: center;
}

/* general */

.sidebar{
    width: 240px;
    height: 100%;
}

.content{
    width: calc(100% - 240px);
    height: 100%;
    background-color: var(--bgc-content);
    overflow: auto;
}

#upgrade{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 240px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
}

.container{
    color: var(--white);
    margin-top: 70px;
}