*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --light-grey: #85878b;
    --line-color: #b3ff30;
    --bgc-player: #282828;
    --bgc-content: #141922;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* first */

.wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
}

main{
    width: 100%;
    height: calc(100% - 80px);
}

.player{
    width: 100%;
    height: 80px;
    background-color: var(--bgc-player);
}

/* flex */

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.flex-col{
    flex-flow: column nowrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.js-between{
    justify-content: space-between;
}

.js-around{
    justify-content: space-around;
}

.js-end{
    justify-content: flex-end;
}

.js-center{
    justify-content: center;
}

.align{
    align-items: center;
    align-content: center;
}

/* hover e after */

.effect:hover{
    transform: scale(1);
}

a.active, a:hover{
    color: var(--white);
}

.player .brano i:hover{
    color: var(--white);
    cursor: pointer;
}

.player .brano .artist:hover{
    color: var(--white);
    text-decoration: underline;
    cursor: pointer;
}

.container nav a:hover:after, .container nav a.active:after{
    display: block;
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 0.5rem;
    width: 50%;
    margin: auto;
}

.container .col .song-image::after{
    font-family: "Font Awesome 5 Free";
    content: '\f144';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.sidebar-top .start a:hover, .sidebar-top .start a.active{
    border-left: 2px solid var(--line-color);
}

.sidebar-top .start a:hover img, .sidebar-bottom .download a:hover img{
    opacity: 1;
}

.sidebar-top .playlist a.plus:hover .square{
    background-color: var(--white);
}

.sidebar-top .playlist a.plus:hover span{
    color: var(--white);
}

input[type="range"]:hover::-webkit-slider-thumb{
    background: white;
}

/* general */

a{
    text-decoration: none;
    color: var(--white);
}

ul{
    list-style: none;
}

.uppercase{
    text-transform: uppercase;
}

.text-white{
    color: var(--white);
}

.text-grey{
    color: var(--light-grey);
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.v-align-middle{
    vertical-align: middle;
}

.sidebar{
    width: 240px;
    height: 100%;
    overflow: hidden;
}

.content{
    width: calc(100% - 240px);
    height: 100%;
    background-color: var(--bgc-content);
    overflow: auto;
}

#upgrade{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 240px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
}

.button{
    border-radius: 20px;
    border: 1px solid var(--white);
    padding: 10px 40px;
    margin-right: 20px;
}

.effect{
    transform: scale(0.8);
    transition: 0.5s;
}

.container{
    color: var(--white);
    margin-top: 70px;
    padding: 20px;
}

.container nav a{
    margin-right: 20px;
    font-size: 12px;
}

.debug{
    border: 1px solid red;
}

.row{
    gap: 15px;
}

.col{
    width: calc(100% / 6 - 12.5px);
}

.song-image{
    position: relative;
}

.col img{
    width: 100%;
}

.container h2{
    padding: 20px 0px 8px;
}

section.recently > h2{
    padding: 20px 0px;
}

.col h5{
    padding: 10px 0px;
}

.subtitle{
    font-size: 10px;
}

.subtitle-p{
    padding-bottom: 30px;
}

.popolari .image{
    border-radius: 50%;
    overflow: hidden;
}

/* sidebar */

.sidebar .logo{
    padding: 15px 20px;
}

.sidebar-top .logo img{
    width: 60%;
}

.sidebar-top .small-logo{
    display: none;
}

.sidebar-top .start img{
    width: 30px;
    opacity: 0.5;
    margin-right: 5px;
}

.start a{
    padding-left: 20px;
}

.sidebar-top .start a{
    border-left: 2px solid transparent;
}

.start{
    padding-bottom: 10px;
}

.sidebar-top .start li{
    padding-top: 10px;
}

.sidebar-top .playlist{
    padding: 10px 20px;
}

.sidebar-top .playlist .square{
    width: 40px;
    height: 40px;
    color: var(--black);
    background-color: var(--light-grey);
    font-size: 25px;
    margin-right: 10px;
}

.sidebar-top .playlist .plus{
    padding-top: 10px;
}

.sidebar-top .playlist li{
    padding-top: 18px;
}

/* sidebar-bottom */

.sidebar-bottom{
    padding: 0px 20px;
}

.sidebar-bottom .download{
    border-bottom: 1px solid var(--light-grey);
}

.sidebar-bottom img{
    width: 24px;
    height: 20px;
}

.sidebar-bottom .download img, .sidebar-bottom .user-image{
    margin-right: 10px;
}

.sidebar-bottom .download, .sidebar-bottom .user{
    padding-top: 15px;
    padding-bottom: 10px;
}

.sidebar-bottom .user-image{
    background-color: var(--light-grey);
    border-radius: 50%;
}

.sidebar-bottom .download img{
    opacity: 0.5;
}

/* player */

.player .brano, .player .volume{
    width: 240px;
    padding: 18px 10px;
}

.player .controller{
    width: 40%;
}

.player .controller, .player .volume{
    color: var(--white);
}

/* brano */

.player .brano img{
    width: 20%;
}

.song{
    font-size: 15px;
}

.artist{
    font-size: 10px;
}

/* controller */

.controller .controller-up{
    width: 40%;
    margin: 0px auto;
}

input[type="range"]{
    -webkit-appearance: none;
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background: var(--light-grey);
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

/* layout responsive */

@media screen and (max-width: 576px){
    .sidebar{
        width: 50px;
        height: 100%;
    }

    .content{
        width: calc(100% - 50px);
        height: 100%;
    }

    #upgrade{
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 768px){
    .col{
        width: calc(100% / 2 - 7.5px);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .col{
        width: calc(100% / 4 - 11.25px);
    }
}

@media screen and (max-height: 150px){
    #upgrade{
        display: none;
    }
}