*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --light-grey: #85878b;
    --bgc-player: #282828;
    --bgc-content: #141922;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* first */

.wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
}

main{
    width: 100%;
    height: calc(100% - 80px);
}

.player{
    width: 100%;
    height: 80px;
    background-color: var(--bgc-player);
}

/* flex */

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.js{
    justify-content: flex-end;
}

.js-center{
    justify-content: center;
}

.align{
    align-items: center;
}

/* hover */

.effect:hover{
    transform: scale(1);
}

a.active, a:hover{
    color: var(--white);
}

.container nav a:hover:after{
    content: '';
    display: block;
    border-bottom: 1px solid yellow;
    padding-bottom: 1rem;
    width: 50%;
    margin: auto;
}

/* general */

a{
    text-decoration: none;
    color: var(--white);
}

.uppercase{
    text-transform: uppercase;
}

.text-grey{
    color: var(--light-grey);
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.sidebar{
    width: 240px;
    height: 100%;
}

.content{
    width: calc(100% - 240px);
    height: 100%;
    background-color: var(--bgc-content);
    overflow: auto;
}

#upgrade{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 240px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
}

.button{
    border-radius: 20px;
    border: 1px solid var(--white);
    padding: 10px 40px;
    margin-right: 20px;
}

.effect{
    transform: scale(0.8);
    transition: 0.5s;
}

.container{
    color: var(--white);
    margin-top: 70px;
    padding: 20px;
}

.menu{
    min-height: 32px;
}

.container nav a{
    margin-right: 20px;
    font-size: 12px;
}

.debug{
    border: 1px solid red;
}

.row{
    gap: 15px;
}

.col{
    width: calc(100% / 6 - 12.5px);
}

.col img{
    width: 100%;
}

.container h2{
    padding: 20px 0px 8px;
}

section.recently > h2{
    padding: 20px 0px;
}

.col h5{
    padding: 10px 0px;
}

.subtitle{
    font-size: 10px;
}

.subtitle-p{
    padding-bottom: 30px;
}

.popolari .image{
    border-radius: 50%;
    overflow: hidden;
}

/* layout responsive */

@media screen and (max-width: 576px){
    .sidebar{
        width: 50px;
        height: 100%;
    }

    .content{
        width: calc(100% - 50px);
        height: 100%;
    }

    #upgrade{
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 768px){
    .col{
        width: calc(100% / 2 - 7.5px);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .col{
        width: calc(100% / 4 - 11.25px);
    }
}

@media screen and (max-height: 150px){
    #upgrade{
        display: none;
    }
}